<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDI6 Travel Blog</title>

  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%# <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">%>
        <%# <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>%>
      <%# </button>%>
      <%# <ul class="nav navbar-nav navbar-left">%>
      <ul class="nav navbar-nav navbar-left" id="left">
      <li class="top"><a class="profile" href="/post/myphotos">Profile</a></li>
      <li class="top"><a href="/post/all" class="all">Photos</a></li>
      <ul>
      </div>

      <ul class="nav navbar-nav navbar-right">
      <li class="top"><a href="/post/new" class="postBar">Post</a></li>
      <li class="top"><a href="/user/signup" class="signup">Sign Up</a></li>
      <li class="top"><a href="/user/login" class="login">Login</a></li>
      </ul>

      </nav>


  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">

      <%- body %>

      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script src="/javascript/comment.js" charset="utf-8"></script>
    </div>
  </body>
</html>
