<img class ="errorImage" src="../images/error.png" width="200">

<h2 class = "error">You need to Login before you can post/view your photos!</h2>

<h2 class = "error">Click <a href="/user/login">here</a> to Login</h2>

<h2 class = "error">Click <a href="/user/signup">here</a> to Signup</h2>
