<div class="row">
  <div class="col-md-8">

    <form class ="loginUser" action="/user/login" method="post">

    <div class="form-group">
      <label for="user">Email</label>
      <input type="text" class="form-control" id="user" name="user[email]" placeholder="Email">
      <br>

      <label for="password">Password</label>
      <input type="text" class="form-control" id="password"  name="user[password]" placeholder="Password">
      <br>

  </div>
  <button type="submit" class="btn btn-default">Login</button>
  </form>

  <% if(message.length > 0) { %>
  <h2>FLASH FOUND</h2>
  <div class="alert alert-danger">
    <%= message %>
  </div>
  <% } %>

  </div>

  <div class="col-md-4">

  <h2 class="log">Identify yourself</h2>

  <img src="../images/login.png" class="logImage">

  </div>
