<h1 class ="success">You are logged in</h1>
<h2 class="post">You can now start to <a href="/post/new">post</a> photos.</h2>
<h2 class="viewText">You can also  <a href="/post/all">view</a> your friend's photos.</h2>

<a href="/user/logout" class="logout">Logout</a>
