<div class = "home">

<img class="front" src="../images/frontcover.jpg" width="500">

<%# <div class = "homeBox">
 <ul class = "list">
   <li><a href="#" class = "type">Me</a></li>
   <li><a href="#" class = "type">Friends</a></li>
   <li><a href="#" class = "type">Strangers</a></li>
   <li><a href="#" class = "type">Animals</a></li>
 </ul>
</div>

<div class = "findBox">
<h2 class ="search"> Search </h2>
</div>%>

</div>
